.section__hero {
    background-color: $color-hero-1;

    .hero__wrapper {
        padding-top: $space * 5; 
        padding-bottom: $space * 7;
        @include min-media($br-mobile) {
            display: flex;
        }
    }

    .hero__col-left {
        @include min-media($br-mobile) {
            padding: $space * 5 0 $space * 2 0;
            flex: 1 1 auto;
        }
    }   

    .hero__col-right {
        flex: 0 1 465px;
        margin-left: $space * 4;
        display: flex;
        align-items: center;
        @include max-media($br-mobile) {
            display: none;
        }
    }

    .hero__img {
        border-radius: 5px;
        $shadow: 0 01px $color-shadow, -01px 0 $color-shadow;
        @for $i from 1 through 20 {
            $x: $i * -1px;
            $y: $i * 1px;
            $shadow: $shadow, ($x ($y + 1) $color-shadow, ($x - 1) $y $color-shadow);
        }
        box-shadow: $shadow; 
    }

    .hero__btn {
        margin-top: $space * 5;
    }
}