.section__works {
    background-color: $color-section-2;
    text-align: center;

    .works__wrapper {
        padding-top: $space * 18;
        padding-bottom: $space * 15;
        @include max-media($br-tablet) {
            padding-top: $space * 9;
            padding-bottom: $space * 6;
        }
    }

    .works__subtitle {
        font-size: $base-unit * 2;
    }
}

