.section__contact {
    color: #fff;
    background-color: $color-section-1;

    .contact__wrapper {
        padding-top: $space * 9;
        padding-bottom: $space * 9;
        @include max-media($br-tablet) {
            padding-top: $space * 7;
            padding-bottom: $space * 4;
        }
    }

    .contact__hdr {
        text-align: center;
    }

    .contact__line {
        padding-top: $space;
        padding-bottom: $space * 4;
    }

    .contact__span {
        position: relative;
        display: block;
        height: 1px;
        width: 100%;
        max-width: $space * 25;
        margin: 0 auto;
        background-color: #fff;

        &::after, &::before {
            position: absolute;
            top: -6px;
            display: block;
            content: "";
            height: 13px;
            width: 13px;
            border-radius: 50%;  
            background-color: #fff;
        }

        &::after {
            left: -6px;
        }
        &::before {
            right: -6px;
        }
    }

    .contact__wrp-box {
        @include min-media($br-tablet) {
            display: flex;
            justify-content: space-between;
        }
    }

    .contact__info {
        @include max-media($br-tablet) {
            margin: 0 auto;
            max-width: 350px;
        }   
        flex: 1 1 50%;
        margin-top: $space * 3;
    }

    .info__line {
        display: flex;
    }

    .info__icon {
        color: $color-font-2;
        margin-right: $space * .8;
    }

    .info__social-media {
        @include max-media($br-tablet) {
            margin: $space * 3  auto $space * 4  auto;
        }
        margin-top: $space * 4;
        margin-bottom: $space * 4;
        display: flex;
        justify-content: space-between;
        max-width: $space * 14.5;
    }

    .info__social-icon {
        height: $space * 3.5;
        width: $space * 3.5;
        font-size: $base-unit * 1.5;
        text-align: center;
        line-height: $space * 3.5;
        border-radius: 50%;
        background-color:  $color-font-2;
        color: $color-section-1;

        &:hover {
            background-color: #fff;
        }
    }
    
    .contact__form {
        flex: 1 1 50%;
        margin: 0 $space * -1;
    }

    .form__inputs {
        @include max-media($br-mobile) {
            flex-wrap: wrap;
        }
        width: 100%;
        display: flex;
    }

    .form__input, .form__text-area {
        margin: $space;
        padding: $space * 2;
        border-radius: 4px;
    }

    .form__input {
        flex: 1 1 50%;
    }

    .form__area {
        display: flex;
        min-height: $space * 16;
    }

    .form__text-area {
        flex: 1 0 auto;
    }

    .form__btn {
        margin: $space;
    }
}