<section class="section__slider section">
    <div class="slider__wrapper wrapper">
        <div class="slider__hdr">
            <h3 class="slider__title">What Our Happy Customer Say</h3>
            <p class="slider__subtitle">Lorem ipsum dolor sit amet</p>
            <p class="slider__line">
                <span class="slider__span"></span>
            </p>
        </div>
        <div class="slider__slider">
            <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav" />
            <input type="radio" name="slider" title="slide2" class="slider__nav" />
            <input type="radio" name="slider" title="slide3" class="slider__nav" />
            <input type="radio" name="slider" title="slide4" class="slider__nav" />
            <div class="slider__inner">
                <div class="slider__contents">
                    <div class="slider__picture">
                        <img src="img/person.png" alt="Person">
                    </div>
                    <div class="slider__text">
                        <p class="slider__citation">
                            Many of the things you can count, don't count. Many of the things you can't count, really count.
                        </p>
                        <p class="slider__sign">Albert Einstein</p>
                    </div>
                </div>
                <div class="slider__contents">
                    <div class="slider__picture">
                        <img src="img/person.png" alt="Person">
                    </div>
                    <div class="slider__text">
                        <p class="slider__citation">
                            Wise men speak because they have something to say; Fools because they have to say something.</p>
                        <p class="slider__sign">Plato</p>
                    </div>
                </div>
                <div class="slider__contents">
                    <div class="slider__picture">
                        <img src="img/person.png" alt="Person">
                    </div>
                    <div class="slider__text">
                        <p class="slider__citation">
                            He who cannot forgive others destroys a bridge over which he himself must pass.</p>
                        <p class="slider__sign">George Herbert</p>
                    </div>
                </div>
                <div class="slider__contents">
                    <div class="slider__picture">
                        <img src="img/person.png" alt="Person">
                    </div>
                    <div class="slider__text">
                        <p class="slider__citation">
                            Duis eu bibendum diam. Donec pulvinar, leo et egestas luctus, quam enim convallis diam, a pretium nisi mi in ex.
                        </p>
                        <p class="slider__sign">Lorem Ipsum</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>