<!DOCTYPE html>
<html lang="pl">
    <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<title></title>
    
    <link href="https://fonts.googleapis.com/css?family=Poppins&amp;subset=latin-ext" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        {% include "components/header.html" %}
        
        {% include "components/hero.html" %}

        {% include "components/boxes.html" %}

        {% include "components/graphic.html" %}

        {% include "components/video.html" %}

        {% include "components/footer.html" %}

        <script src="js/app.js" type="text/javascript"></script>
    </body>
</html>