.about-us {
    text-align: center;

    &__container {
        .wrapper();
    }

    &__title {
        &:extend(.border-bottom);
    }

    &__info {
        padding-top: 15px;
        font-size: @body-font-size * 2;
    }
}