.description {
    padding-top: 60px;

    &__title {
        margin: @space * 2 0 @space 0;
        text-indent: @space * 3;
    }

    &__info {
        font-size: @body-font-size * 2;
        text-indent: @space * 3;
        text-align: justify;
        text-justify: inter-word;
    }
}

.gallery {
    text-align: center;
    padding-top: 60px;

    &__title {
        &:extend(.border-bottom);
    }

    .row {
        justify-content: center;
    
         div {
            max-width: 250px;
            height: 150px;
    
            div {
                max-height: 120px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
                background-color: grey;
            }
        }

    }

    img:hover {
        cursor: zoom-in;
    }

    .bigImg {
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 50;
        transform: translate(-50%,-50%);
        max-height: 90vh;
        max-width: 90vw;

        &:hover {
            cursor: zoom-out;
        }
    }

}

.backdrop::before {
    display: block;
    content: "";
    background-color: rgb(66, 66, 66);
    position: fixed;
    top: 0;
    right: 0;
    height:100%;
    width: 100%;
    opacity: .7;
    z-index: 40;
    transition: all 1s;
}


