.section__slider {
    background-color: #fff;
    color: $color-font-1;

    .slider__wrapper {
        padding-bottom: $space * 9;
        @include max-media($br-tablet) {
            padding-bottom: $space * 6;
        }
    }

    .slider__hdr {
        text-align: center;
    }

    .slider__line {
        padding-top: $space;
        padding-bottom: $space * 7;
    }

    .slider__span {
        position: relative;
        display: block;
        height: 1px;
        width: 100%;
        max-width: $space * 25;
        margin: 0 auto;
        background-color: $color-font-1;

        &::after, &::before {
            position: absolute;
            top: -6px;
            display: block;
            content: "";
            height: 13px;
            width: 13px;
            border-radius: 50%;  
            background-color: $color-font-1;
        }

        &::after {
            left: -6px;
        }
        &::before {
            right: -6px;
        }
    }

    .slider__slider {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        justify-content: center;
    }

    .slider__nav {
        margin: $space * 29 $space * 1.1 $space * 2 $space * 1.1;
        @include max-media($br-mobile) {
            margin-top: $space * 52;
        }
        width: $base-unit;
        height: $base-unit;
        border-radius: 50%;
        z-index: 10;
        outline: $base-unit * .6 solid $color-section-2;
        outline-offset: $base-unit * -0.5;
        box-shadow: 0 0 0 3.8px $color-section-2;
        cursor: pointer;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                transform:scale(1.2);
    }
    .slider__nav:checked {
        -webkit-animation: check 0.4s linear forwards;
                animation: check 0.4s linear forwards;
    }
    .slider__nav:checked:nth-of-type(1) ~ .slider__inner {
        left: 0%;
    }
    .slider__nav:checked:nth-of-type(2) ~ .slider__inner {
        left: -100%;
    }
    .slider__nav:checked:nth-of-type(3) ~ .slider__inner {
        left: -200%;
    }
    .slider__nav:checked:nth-of-type(4) ~ .slider__inner {
        left: -300%;
    }
    .slider__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 400%;
        -webkit-transition: left 0.4s;
        transition: left 0.4s;
        display: flex;
        flex-flow: row nowrap;
    }
    .slider__contents {
        @include max-media($br-mobile) {
            flex-flow: column nowrap;
            align-items: center;
        }
        display: flex;
        flex: 1;
        justify-content: center;
    }
    .slider__picture {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        height: $space * 26;
        width: $space * 26;
        border: 6px solid $color-shadow-2;
        border-radius: 50%;
        margin: 0 $space * 4;
        background-color: $color-section-2;

        img {
            height: 50%;
        }
    }

    .slider__text {
      @include max-media($br-mobile) {
        max-width: 300px;
    }
        margin: $space * 4;
        flex: 1 1 auto;
    }

    .slider__citation {
        font-size: $base-unit * 1.5;
        font-style: italic;
        position: relative;

        &::after {
            position: absolute;
            display: block;
            content: "“";
            top: $space * -0.8;
            left: $space * -3.5;
            font-size: $base-unit * 4;
            font-family: $quote-font;
            font-style: normal;
        }
    }

    .slider__sign {
       font-size: $base-unit * 2;
       font-weight: bold;
    }
      
    @-webkit-keyframes check {
        50% {
          outline-color: $color-font-1;
          box-shadow: 0 0 0 12px $color-font-1;
        }
        100% {
          outline-color: $color-font-1;
          box-shadow: 0 0 0 3.8px $color-font-1;
        }
    }

    @keyframes check {
        50% {
          outline-color: $color-font-1;
          box-shadow: 0 0 0 12px $color-font-1;
        }
        100% {
          outline-color: $color-font-1;
          box-shadow: 0 0 0 3.8px $color-font-1;
        }
    }
}
