<section class="boxes component">
    <div class="wrapper">
        <h2>Category</h2>
        <div class="boxes__cont">
            <div class="boxes__box">
                <div class="boxes__box__img">
                    <img src="/img/zebra240.jpg" srcset="/img/zebra240.jpg 240w, /img/zebra384.jpg 384w, /img/zebra480.jpg 480w" sizes="(min-width: 1680px) 300px,(min-width: 1200px) 240px, (min-width: 768px) calc(34vw - 4rem), (min-width: 420px) calc(50vw - 3rem), (min-width: 360px) calc(100vw - 4rem), calc(100vw - 48rem)" alt="Zebra na sawannie">
                </div>
                <!-- 1 rem = 16px -->
                <a class="boxes__box__title">Lorem ipsum</a>
                <p class="boxes__box__txt">Lorem ipsum</p>
            </div>
            <div class="boxes__box">
                <div class="boxes__box__img">
                    <img src="/img/los240.jpg" alt="Łoś">
                </div>
                <a class="boxes__box__title">Lorem ipsum</a>
                <p class="boxes__box__txt">Lorem ipsum</p>
            </div>
            <div class="boxes__box boxes__box--radius">
                <div class="boxes__box__img">
                    <img src="/img/koliber240.jpg" alt="Koliber">
                </div>
                <a class="boxes__box__title">Lorem ipsum</a>
                <p class="boxes__box__txt">Lorem ipsum</p>
            </div>
            <div class="boxes__box boxes__box--radius">
                <div class="boxes__box__img">
                    <img src="/img/tygrys240.jpg" alt="Tygrys">
                </div>
                <a class="boxes__box__title">Lorem ipsum</a>
                <p class="boxes__box__txt">Lorem ipsum</p>
            </div>
        </div>
    </div>
</section>
<section class="boxes component">
    <div class="wrapper">
        <h2>Category</h2>
        <div class="boxes__cont">
            <div class="boxes__box">
                <div class="boxes__box__img boxes__box__img--elastic">
                    <img src="/img/flaming742.jpg" alt="flaming2">
                </div>
                <a class="boxes__box__title">Lorem ipsum</a>
                <p class="boxes__box__txt">Lorem ipsum</p>
            </div>
            <div class="boxes__box">
                <div class="boxes__box__img boxes__box__img--elastic">
                    <img src="/img/flaming860-p.jpg" alt="flaming2">
                </div>
                <a class="boxes__box__title">Lorem ipsum</a>
                <p class="boxes__box__txt">Lorem ipsum</p>
            </div>
        </div>
    </div>
</section>