<footer class="main-foot component">
    <div class="wrapper">
        <div class="main-foot__nav clearfix">
            <div class="main-foot__nav__col">
                <a href="#" class="main-foot__nav__cat">Category</a>
                <ul>
                    <li><a href="" class="main-foot__nav__link">Position 1</a></li>
                    <li><a href="" class="main-foot__nav__link">Position 2</a></li>
                    <li><a href="" class="main-foot__nav__link">Position 3</a></li>
                    <li><a href="" class="main-foot__nav__link">Position 4</a></li>
                    <li><a href="" class="main-foot__nav__link">Position 5</a></li>
                </ul>
            </div>
            <div class="main-foot__nav__col">
                <p href="#" class="main-foot__nav__cat">Category</p>
                <ul>
                    <li><a href="" class="main-foot__nav__link">Position 1</a></li>
                    <li><a href="" class="main-foot__nav__link">Position 2</a></li>
                    <li><a href="" class="main-foot__nav__link">Position 3</a></li>
                </ul>
            </div>
            <div class="main-foot__nav__col">
                <a href="#" class="main-foot__nav__cat">Category</a>
                <ul>
                    <li><a href="" class="main-foot__nav__link">Position 1</a></li>
                    <li><a href="" class="main-foot__nav__link">Position 2</a></li>
                    <li><a href="" class="main-foot__nav__link">Position 3</a></li>
                    <li><a href="" class="main-foot__nav__link">Position 4</a></li>
                    <li><a href="" class="main-foot__nav__link">Position 5</a></li>
                </ul>
            </div>
            <div class="main-foot__nav__col">
                <a href="#" class="main-foot__nav__cat">Category</a>
                <ul>
                    <li><a href="" class="main-foot__nav__link">Position 1</a></li>
                    <li><a href="" class="main-foot__nav__link">Position 2</a></li>
                    <li><a href="" class="main-foot__nav__link">Position 3</a></li>
                    <li><a href="" class="main-foot__nav__link">Position 4</a></li>
                    <li><a href="" class="main-foot__nav__link">Position 5</a></li>
                </ul>
            </div>
        </div>
        <div class="main-foot__copy">
            <small>Copy &copy; Politechnika Białostocka</small> 
        </div>
    </div>
</footer>