<section class="component graphic">
    <div class="wrapper">
        <h2>Category</h2>
    </div>
    <figure class="graphic__inner">
        <picture>
            <source media="(min-width: 1680px)" srcset="/img/flaming1920.jpg">
            <source media="(min-width: 768px)" srcset="/img/flaming1536.jpg">
            <source media="(orientation: portrait)" srcset="/img/flaming860-p.jpg">
            <!-- <source media="(orientation: landscape)" srcset="/img/flaming742.jpg"> -->
            <img class="graphic__img" src="/img/flaming742.jpg" alt="flaming">
        </picture>
        <figcaption class="wrapper graphic__hdr">
            <h3>Flaming chodzący po wodzie</h3>
            <p>Phasellus elit nunc, efficitur et pretium a, tempor vitae ex. Etiam nec auctor mi. Donec mattis lectus nunc,
                eu eleifend velit pulvinar sed. Praesent id accumsan sapien. Maecenas eget eros a odio semper lobortis. Pellentesque
                sodales risus et massa scelerisque placerat. Class aptent taciti sociosqu ad litora torquent per conubia
                nostra, per inceptos himenaeos. Integer vel efficitur enim.</p>
        </figcaption>
</section>

