<header class="main-hdr">
    <div class="wrapper">
        <a class="hdr-logo" href="#">
            <img src="/img/wild-things60.png" srcset="/img/wild-things120.png 2x, /img/wild-things180.png 3x" alt="Wild Things">
        </a>

        <nav class="main-nav">
            <button class="nav-btn" data-js="navbtn">
                <span></span>
            </button>
            <ul>
                <li>
                    <a href="#">Category 1</a>
                </li>
                <li>
                    <a href="#">Category 2</a>
                </li>
                <li>
                    <a href="#">Category 3</a>
                </li>
                <li>
                    <a href="#">Category 4</a>
                </li>
                <li>
                    <a href="#">Category 5</a>
                </li>
            </ul>
        </nav>
    </div>
</header>