<section class="video component" data-js="video">
    <div class="wrapper">
        <div class="video__cont">
            <video data-js="videoel">
<source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
            </video>
        </div>
        <div class="video__hdr">
            <h2>Video title</h2>
        </div>
        <div class="video__controls">
            <button class="btn btn--ghost video__controls__play" data-js="videoplay">Play</button>
            <button class="btn btn--ghost video__controls__pause" data-js="videopause">Pause</button>
        </div>
        <div class="video__progress"></div>
    </div>
</section>