.ftr {
    text-align: center;
    background-color: @color-bg-2;
    color: @color-font-1;

    &__icon,  {
        display: inline-block;
        margin: 0;
        font-size: @body-font-size * 2.8;
    }

    &__logo {
        margin: 0;
        font-family: @quote-font;
        font-size: @body-font-size * 2;
    }

    &__copyright {
        margin: 0;
        padding: @space 0;
    }
}