.slider {
    background-color: lightseagreen;
    height: calc(~'100vh - 60px');
    font-family: @font-3;
    color: white;
    min-height: 360px;
    position: relative;
    overflow: hidden;

    &__cont {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center; 
        transition: margin .5s ease-out;
    }

    &__element {
        flex: 0 0 100%;
        padding: @space * 3 @space * 9;
        height: 100%;
        padding-left: 50%;
        .center(unset);
        color: @color-bg-1;

        &--slide-1 {
            background: @color-bg-2 url(../../img/slide1.png) @shift /contain no-repeat;
        }
        &--slide-2 {
            background: @color-bg-2 url(../../img/slide2.png) @shift /contain no-repeat;
        }
        &--slide-3 {
            background: @color-bg-2 url(../../img/slide3.png) @shift /contain no-repeat;
        }
        &--slide-4 {
            background: @color-bg-2 url(../../img/slide4.png) @shift /contain no-repeat;
        }
        &--slide-5 {
            background: @color-bg-2 url(../../img/slide5.png) @shift /contain no-repeat;
        }

        .mixin-max-media(@br-mobile); 
        .rwd {
            text-align: center;
            padding-left: @space * 9;
            background-position-x: center;
        }  

        &__cont {
            width: 100%;
        }

        &__title {
            font-size: @body-font-size * 0.8333;
            padding-bottom: @space;
            margin: 0 0 @space * 2 0;
            position: relative;
            display: inline-block;
            font-family: @font-1;

            &::after {
                .position-absolute(unset, unset, 0, 50%);
                content: "";
                display: block;
                border-bottom: 1px solid @color-bg-1;
                width: @space * 2;
                transform: translateX(-50%);
            }
        }

        &__main-title {
            line-height: 1.1;
            margin: 0;
            font-family: @font-3;
        }

        &__text {
            padding: @space * 3 0 @space * 4 @space;
            margin: 0;
            font-family: @font-1;
        }

        &__btn {
            font-family: @font-3;
            text-transform: uppercase;
        }
    }
}


.slider-button {

    &-prev, &-next {
        cursor: pointer;
        z-index: 2;
        position: absolute;
        left: @space * 3.5;
        top: 50%;
        width: @body-font-size * 2.5;
        height: @body-font-size * 2.5;
        border:0;
        border-radius: 50%;
        text-indent:-999px;
        overflow:hidden;
    }

    &-next {
        left:auto;
        right: @space * 3.5;
    }

    &-prev:focus, &-next:focus {
        outline: none;
    }

    &-prev:before, &-next:before {
        font-family: "Material Icons"; 
        content: "arrow_right_alt";
        transform: rotate(180deg);
        .center();
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        font-size: @body-font-size * 2.5;
        color:#fff;
        text-indent: 0;
    }

    &-next:before {
        content: "arrow_right_alt";
        transform: rotate(0deg);
    }
}

.slider-dots {
    z-index: 2;
    position: absolute;
    left:0;
    bottom:1rem;
    margin:0;
    padding:0;
    width:100%;
    display: flex;
    justify-content: center;
    list-style:none;

    &-button {
        background: transparent;
        width:2rem;
        height:2rem;
        border:0;
        text-indent:-999px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
    }

    &-button:before {
        content:'';
        position: absolute;
        left:50%;
        top:50%;
        transform:translate(-50%, -50%);
        background: rgba(255, 255, 255, 0.7);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        transition:0.5s all;
    }

    &-element-active &-button:before {
        background: none;
        border: 3px solid @color-font-1;
        width: 12px;
        height: 12px;
    }
    
    &-element-hidden {
        display: none;
    }

    &-button:focus {
        outline: none;
    }
}

