@color-bg-1: #fff;
@color-bg-2: #5dc8a1;
@color-btn-1: #C04000;
@color-font-1: #fff;
@color-font-2: #808080;

@font-1: 'Encode Sans Condensed', sans-serif;
@font-2: 'Courgette', cursive;
@font-3: 'Song Myung', serif;

@base-unit: 1rem;

@body-font-size: @base-unit;
@body-line-height: 1.5;

@h1-font-size: @base-unit * 3;
@h2-font-size: @base-unit * 2.5;
@h3-font-size: @base-unit * 2;

@space: .8333 * @base-unit; // ~10px

@br-mobile: 576px;
@br-tablet: 768px;
@br-deskopt: 900px;
@br-large-deskopt: 1200px;

@width-wrapper: 953px;

// @shift: calc(~'50% - 250px');
// @shift: calc(50% - (@space * 20));
@shift: calc(50% - (40vh)) 100%;