<header id="hdr" class="main-hdr">
    <div class="wrapper">
        <a class="hdr-logo" href="#">
            <img src="img/logo.png" alt="Logo">
        </a>
        <nav class="main-nav">
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Work</a>
                </li>
                <li>
                    <a href="#">Testimonials</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>