<section class="section__contact section">
    <div class="contact__wrapper wrapper">
        <div class="contact__hdr">
            <h3 class="contact__title">Contact</h3>
            <p class="contact__subtitle">Let's talk business, get in touch!</p>
            <p class="contact__line">
                <span class="contact__span"></span>
            </p>
        </div>
        <div class="contact__wrp-box">
            <div class="contact__info">
                <h4 class="info__title">Office Hours</h4>
                <p class="info__subtitle">Monday to Friday / 7:00 - 18:00 Saturday / 9:00 - 15:00</p>
                <div class="info__more-info">
                    <div class="info__line">
                        <p class="info__icon">
                            <i class="fas fa-map-marker"></i>
                        </p>
                        <p class="info__text">25 Silver Cost Avenue, MD 20910 Indonesia</p>
                    </div>
                    <div class="info__line">
                        <p class="info__icon">
                            <i class="fas fa-phone"></i>
                        </p>
                        <p class="info__text">(621) 555 6789</p>
                    </div>
                    <div class="info__line">
                        <p class="info__icon">
                            <i class="fas fa-envelope"></i>
                        </p>
                        <p class="info__text">hello@macankumbang.net</p>
                    </div>
                </div>
                <div class="info__social-media">
                    <a href="#" class="info__social-icon fab fa-twitter"></a>
                    <a href="#" class="info__social-icon fab fa-facebook-f"></a>
                    <a href="#" class="info__social-icon fab fa-google-plus-g"></a>
                </div>
            </div>
            <form action="post" class="contact__form form">
                <div class="form__inputs clear">
                    <input class="form__input" type="text" placeholder="Name">
                    <input class="form__input" type="text" placeholder="Email (will not published)">
                </div>
                <div class="form__area">
                    <textarea class="form__text-area" name="" id="" placeholder="Message"></textarea>
                </div>
                <button class="form__btn btn">Send</button>
            </form>
        </div>
        <div class="contact__btn-nav">
        </div>
        <a href="#hdr"><div class="contact__scroll-top"><i class="fas fa-angle-up"></i></div></a>
    </div>

    
</section>