<section class="section__our-services section">
    <div class="our-services__wrapper wrapper">
        <div class="our-services__hdr">
            <h3 class="our-services__title">Our Services</h3>
            <p class="our-services__subtitle">our awesome services</p>
            <p class="our-services__line">
                <span class="our-services__span"></span>
            </p>
        </div>
        <div class="our-services__service">
            <div class="our-services__col">
                <p class="col__icon"><i class="fas fa-heart"></i></p>
                <h4 class="col__title">Beautiful Desing</h4>
                <p class="col__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
                <button class="col__btn btn">More</button>
            </div>
            <div class="our-services__col">
                <p class="col__icon"><i class="fas fa-globe"></i></p>
                <h4 class="col__title">Global Trend</h4>
                <p class="col__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
                <button class="col__btn btn">More</button>
            </div>
            <div class="our-services__col">
                <p class="col__icon"><i class="fas fa-window-restore"></i></p>
                <h4 class="col__title">Responsive</h4>
                <p class="col__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
                <button class="col__btn btn">More</button>
            </div>
            <div class="our-services__col">
                <p class="col__icon"><i class="fas fa-rocket"></i></p>
                <h4 class="col__title">Awesome Design</h4>
                <p class="col__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean</p>
                <button class="col__btn btn">More</button>
            </div>
        </div>
    </div>
</section>