<section class="section__portfolio section">
    <div class="portfolio__wrapper wrapper">
        <div class="portfolio__hdr">
            <h3 class="portfolio__title">Portfolio</h3>
            <p class="portfolio__subtitle">our awesome works</p>
            <p class="portfolio__line">
                <span class="portfolio__span"></span>
            </p>
            <p class="portfolio__select">
                <span class="portfolio__all">All</span> / 
                <span class="portfolio__web">Web</span> / 
                <span class="portfolio__print">Print</span>
            </p>
        </div>
        <div class="portfolio__all-squares">
            <div class="portfolio__one-squere">
                <h4 class="portfolio__title">Macankumbang</h4>
                <p class="portfolio__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat</p>
                <p class="portfolio__icon"><i class="far fa-eye"></i></p>
            </div>
            <div class="portfolio__one-squere">
                <h4 class="portfolio__title">Veniam</h4>
                <p class="portfolio__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat</p>
                <p class="portfolio__icon"><i class="far fa-eye"></i></p>
            </div>
            <div class="portfolio__one-squere">
                <h4 class="portfolio__title">Excepteur</h4>
                <p class="portfolio__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat</p>
                <p class="portfolio__icon"><i class="far fa-eye"></i></p>
            </div>
            <div class="portfolio__one-squere">
                <h4 class="portfolio__title">Repellendus</h4>
                <p class="portfolio__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat</p>
                <p class="portfolio__icon"><i class="far fa-eye"></i></p>
            </div>
            <div class="portfolio__one-squere">
                <h4 class="portfolio__title">Consectetur</h4>
                <p class="portfolio__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat</p>
                <p class="portfolio__icon"><i class="far fa-eye"></i></p>
            </div>
            <div class="portfolio__one-squere">
                <h4 class="portfolio__title">ProinFermentum</h4>
                <p class="portfolio__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat</p>
                <p class="portfolio__icon"><i class="far fa-eye"></i></p>
            </div>
        </div>
    </div>
</section>