.hero {
    position: relative;
    // height: 36 * $base-unit;
    height: 450px;
    margin-top: 0;
    color: #fff;
    background-color: $color-2-light;

    background: $color-2-light url(../img/hero-mob.jpg) no-repeat 50% 0;

    @include min-media($br-tablet) {
        height: 600px;
        background-image: url(../img/hero-tab.jpg);
    }

    @include min-media($br-deskopt) {
        background-image: url(../img/hero-desk.jpg);
    }

    @media (orientation: landscape) and (min-width: 1024px) {
        height: 100vh;
        min-height: 450px;
        background-size: cover;
    }

    &__cont {
        z-index: 3;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        @media (orientation: landscape) and (min-width: 1024px) { //nadpisywanie styli
            top: unset; // lub auto
            bottom: 3 * $space;
            transform: none;
        }

        &--shadow {
            @extend %simple-text-shadow;
        }
    }

    &::before { // pozycjonowuje dziecko do rodzica //
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: 
        linear-gradient(to top, 
        transparent 1px, 
        $color-pattern 1px, 
        $color-pattern 2px, 
        transparent 2px),

        linear-gradient(to left, 
        transparent 1px, 
        $color-pattern 1px, 
        $color-pattern 2px, 
        transparent 2px );
        background-size: 2px 2px;
    }
}