.video{
    position: relative;
    
    .wrapper{
        padding-bottom: 55%;
    }
    
    &__cont{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        
        video{
            height: 100%;
        }
    }
    
    &__controls{
        position: absolute;
        bottom: 14%;
        
        &__pause, &__play{
            position: absolute;
            left: 0;
            bottom: 0;
        }
        &__pause{
            display: none;
        }
        @at-root .playing{
            .video__controls__pause{
                display: block;
            }
            .video__controls__play{
                display: none;
            }
        }
    }
    &__hdr{
        position: absolute;
        color: #fff;
        top: 5%;
    }
    &__progress{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 5px;
        background-color: $color-4;
    }
}