.main-hdr {
    position: absolute;
    left: 0;
    width: 100%;
    height: $space * 2;
    z-index: 20;
    overflow: hidden;
    // background-color: #B5B5B5;
    color: #fff;
    @include max-media($br-deskopt - 1px) {
        .nav-open & {
            height: 100vh;
        }
    }

    .wrapper {
        position: relative;
    }

    li {
        text-align: center;
        padding: $space * .2;
        border-bottom: 1px solid #fff;
    }
    li:last-child {
        border-bottom: 0;
    }
}

.hdr-logo {
    position: absolute;
    left: $space;
    top: $space * .5;
    width: 60px;

    @include min-media($br-tablet) { 
        left: $space * 2;
    }
}

.main-nav {
    padding-top: $space * 2;
    @extend %simple-text-shadow;

    @include min-media($br-deskopt) {
        position: absolute;
        top: 0;
        right: $space;
        padding-top: $space * .5;
        li {
            float: left;
            margin-left: $space * .5;
            border: 0;
        }
    }
}

.nav-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: $space * 1.5;
    padding: $space;

    @include min-media($br-deskopt) {
        display: none;
    }

    span {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        margin-left: -.25 * $space;
        height: $space * .5 * .125;
        width: $space * .5;
        background-color: #fff;
        @extend %simple-box-shadow;
        
        &::after, &::before {
            content: "";
            position: absolute;
            display: block;
            left: 50%;
            background-color: #fff;
            margin-left: -.25 * $space;
            height: $space * .5 * .125;
            width: $space * .5;
            @extend %simple-box-shadow;
        }
        &::after {
            margin-top: -.125 * $space
        }
        &::before {
            margin-top: .125 * $space
        }
    }

}